<!DOCTYPE html>
<html>

<head>
    <title>Bill Buddy</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}">>
</head>

<header>
    <h1>Home Page</h1>
    <h3>Settings</h3>
</header>

<nav>
    <h2>Bill Buddy</h2>

    <div class="button-container">
        <button class = "button"> View Members</button>
        <button class = "button"> Log Transaction</button>
        <button class = "button"> Search Transaction</button>
        <button class = "button"> Simplify Debt</button>
    </div>
</nav>

<body>
    <h2>Current Log</h2>
</body>

