<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='remove_member.css') }}">
    <title>Add Member</title>
</head>
<body>
    <div class="container">
        <h1>Remove Member</h1>
        <h4> *Removing a member deletes ANY transactions including that member* </h4>
        <form method="POST">
            <label for="member_name">Member Name:</label>
            <input type="text" id="member_name" name="member_name" required>
            <button type="submit">Remove Member</button>
        </form>
        <a href="{{ url_for('home') }}">Return Home</a>
    </div>
</body>
</html>