<!DOCTYPE html>
<html>

<head>
    <title>Bill Buddy</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='simplified_transactions.css') }}">>
</head>

<header>
    <h1>Simplified Transactions</h1>
    <h3>Settings</h3>
</header>

<nav>
    <h2>Bill Buddy</h2>

    <div class="button-container">
        <form>
            <button formaction= '/home' class = "button"> Return Home</button>
        </form>
    </div>
</nav>

<body>
    <h1>Current Members</h1>
    <ul>
        {% for member, transactions in graph.items() %}
            <li>{{ member }}
                <ul>
                    {% for to_member, details in transactions.items() %}
                        <li>Owes {{ to_member }}: {{ details['amount'] }}
                            <ul>
                                {% for amount, reason in details['transactions'] %}
                                    <li>{{ amount }} for {{ reason }}</li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
</body>
